@import '/src/sass/abstracts/variables';
@import '/src/sass/abstracts/mixins';


form {
    width: 50%;
    margin-left: 25%;
    @include card($padding: 1rem);
    @include grid(repeat(2, 1fr), 1rem, 1rem);

    h2{
        @include grid-row;
    }
    .form-footer-buttons {
        @include grid-row;
        display: flex;
        justify-content: center;

        button+button {
            margin-left: 1rem;
        }
    }

}