<form [formGroup]="deviceForm">
    <h2>{{selectedDeviceId? 'Update ': 'Create '}}Device</h2>

    <mat-form-field appearance="standard" class="form-field" color="accent">
        <mat-label>Label</mat-label>
        <input type="text" matInput formControlName="label">
        <mat-icon disabled matSuffix
            [color]="deviceForm.get('label')?.touched && deviceForm.get('label')?.invalid ? 'warn': 'accent'">
            description
        </mat-icon>
        <mat-hint>Display name of device</mat-hint>
        <mat-error *ngIf="deviceForm.get('label')?.invalid && deviceForm.get('label')?.errors">Label is required
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-field" color="accent">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description">
        <mat-icon disabled matSuffix
            [color]="deviceForm.get('description')?.touched && deviceForm.get('description')?.invalid ? 'warn': 'accent'">
            developer_board
        </mat-icon>
        <mat-hint>Short description of device</mat-hint>
        <mat-error *ngIf="deviceForm.get('description')?.invalid && deviceForm.get('description')?.errors">Description
            is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-field">
        <mat-label>Device type</mat-label>
        <mat-select formControlName="type">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let deviceType of deviceTypes$ | async" [value]="deviceType.id">
                {{deviceType.label}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="deviceForm.get('type')?.hasError('required')">Please select a device type</mat-error>
        <mat-hint>Type of device</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="standard" class="form-field">
        <mat-label>Node</mat-label>
        <mat-select formControlName="node">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let node of nodes$ | async" [value]="node.id">
                {{node.label}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="deviceForm.get('type')?.hasError('required')">Please select a node</mat-error>
        <mat-hint>Type of node</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="standard" class="form-field" color="accent">
        <mat-label topic>Hardware ID</mat-label>
        <input type="text" matInput formControlName="hwId">
        <mat-icon disabled matSuffix
            [color]="deviceForm.get('hwID')?.touched && deviceForm.get('hwID')?.invalid ? 'warn': 'accent'">
            import_export
        </mat-icon>
        <mat-hint>Peripheral id , required by device driver for communication</mat-hint>
        <mat-error *ngIf="deviceForm.get('hwID')?.invalid && deviceForm.get('hwId')?.errors">Hardware id is required
        </mat-error>
    </mat-form-field>

    <div class="form-footer-buttons">
        <button [disabled]="deviceForm.invalid" mat-raised-button color="accent"
            (click)="onSubmitClick()">Submit</button>
        <button mat-stroked-button color="accent" (click)="onCancelClick()">Cancel</button>
    </div>


</form>