// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@import 'variables';
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}
/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin card($color:$white, $border-radius: $std-border-radius, $box-shadow: $std-box-shadow, $padding: 0px) {
  background-color: $color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: $padding;
}

@mixin grid($columns, $column-gap: 1rem, $row-gap:1rem) {
  display: grid;
  grid-template-columns: $columns;
  column-gap: $column-gap;
  row-gap: $row-gap;
}

@mixin grid-row {
  grid-column: 1/-1;
}